{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>DDI Queue Management System</h1>
        <h2>Queue Management Software and Customer Flow</h2>
        <p>Queues are interesting. While it can be heartening to see people lining up in long queues for your services or 		products, it may also make people disappointed by the slightest of chaos and the long and unpredictable wait tmes.
    		What if you get empowered to measure and control the flow at your business and reduce the chaos? How would it be if you could see a centralized dashboard with alerts and real time statistics of your entire business's flow? If you have been using old-fashioned methods such as physical management and sign-in sheets to control queues, then it is high time you update to a queue management software.</p>
    </center>

{% endblock %}